li{
  list-style-type: none;
  letter-spacing: 2px;
}

#bottom-positioner{
  position: absolute;
  width: 600px;
  height: 800px;
  left: 30%;
  overflow: hidden;
}

#button{
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(./assets/images/atplus_white.png);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #666666;
  transition: 1s;
}
#button:hover{
  background-color: blue;
  background-position: center;
  background-image: url(./assets/images/atplus_green.png);
  background-size: 45px 45px;
  width: 70px;
  height: 70px;
  transform: translateX(-15px) translateY(-15px);
}

#info-bar{
  width: 0;
  height: 0;
  opacity: 0;
  background-color: #666666;
  position: relative;
  left: 0;
  top:  0;
  border-radius: 50%;
  transition-duration: 1s;
  overflow: hidden;
}
#button:hover #info-bar{
  width: 140px;
  height: 140px;
  opacity: 1;
  transform: translateY(-160px) translateX(-35px);
}

img{
  vertical-align: middle;
  transform: translateX(-2px);
}

.page{
  color: white;
  display: block;
  transform: translateX(8px);
}

.comment{
  font-size: 30px;
  transform: scale(1.2) translateX(12px);
}

.mine{
  color: rgb(10, 200, 120);
  display: inline-block;
  transform: translateX(-6px);
}

.like li{
  transform: translateX(2px);
}

.mask{
  width: 0;
  height: 0;
  border-radius: 50%;
  opacity: 0;
  background-color: #666666;
  background-image: url(./assets/images/mask.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 0;
  top: 0;
  transition-duration: 1.5s;
}
#button:hover .mask{
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: translateX(-120px) translateY(-200px);
}

.history{
  width: 0;
  height: 0;
  border-radius: 50%;
  opacity: 0;
  background-color: #666666;
  background-image: url(./assets/images/history.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 0;
  top: 0;
  transition-duration: 1.5s;
}
#button:hover .history{
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: translateX(-135px) translateY(-175px);
}

.message{
  width: 0;
  height: 0;
  border-radius: 50%;
  opacity: 0;
  background-color: #666666;
  background-image: url(./assets/images/message.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 0;
  top: 0;
  transition-duration: 1.5s;
  overflow: visible;
  display: block;
}
#button:hover .message{
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: translateX(-90px) translateY(-160px);
}
.unread{
  position: absolute;
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: translateX(30px) translateY(-5px);
}

.setting{
  width: 0;
  height: 0;
  border-radius: 50%;
  opacity: 0;
  background-color: #666666;
  background-image: url(./assets/images/setting.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 0;
  top: 0;
  transition-duration: 1.5s;
  overflow: visible;
  display: block;
}
#button:hover .setting{
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: translateX(-20px) translateY(-185px);
}

.sign{
  width: 0;
  height: 0;
  border-radius: 50%;
  opacity: 0;
  background-color: #666666;
  background-image: url(./assets/images/signin.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 0;
  top: 0;
  transition-duration: 1.5s;
  overflow: visible;
  display: block;
}
#button:hover .sign{
  width: 50px;
  height: 50px;
  opacity: 1;
  transform: translateX(45px) translateY(-265px);
}
